{% extends "pages\base.html" %}

{% block title %}Giỏ hàng của bạn{% endblock %}

{% block content %}
{% load static %}
<div class="col-lg-9">
    <table style="width:100%">
        <tr>
            <th>STT</th>
            <th>Tiêu đề</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Xóa</th>
        </tr>
        {% for key, value in request.session.cart.items %}
        {% load mathfilters %}
        <tr>
            <td>{{key}}</td>
            <td>{{value.title}}</td>
            <td>{{value.price}}$</td>
            <td>{{value.num}}</td>
            <td>{{value.price|mul:value.num}}$</td>
            <td style="width:5%"><center><button class="btn btn-button" onclick="deleteItem({{key}})">X</button></center></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Tổng cộng: </td>
            <td>{{total}}</td>
            <td></td>
        </tr>
    </table>
</div>
<script>
    function confirm_delete() {
        return confirm("Bạn có chắc muốn xóa món hàng này không?");
    }
</script>

{% endblock %}